##
## Sandbox cruft:
##

.DS_Store
*.swp
.#*
*#
*~

.all.*
.out.*
.du@*
.sb.*
.ts.*

.vagrant

scratch*

typescript*

/artifacts.cache/*
!/artifacts.cache/.gitignore

##
## Build output:
##

/Docker.*.id
/Docker.*.tag

/build-output*

/TAGS
/tags

##
## Other:
##

